<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>producer</title>
</head>
<body>
    <h1 style="color: darkred">Hello from the Producer module!</h1>
    <p>
        Since server start, you are the
        <stong>@ViewData["visitorNumber"]</stong>
        -th visitor. 
    </p>
    <p>
        We have notified our Consumer of your visit at the address @ViewData["consumerURL"].
    </p>
</body>
</html>
